CONTENTSTACK_ENVIRONMENT=<CONTENTSTACK_ENVIRONMENT>
CONTENTSTACK_API_KEY=<CONTENTSTACK_API_KEY>
CONTENTSTACK_DELIVERY_TOKEN=<CONTENTSTACK_DELIVERY_KEY>
# optional EU region (default region is NA/US) for EU region add "CONTENTSTACK_REGION = eu"
CONTENTSTACK_REGION=us